extends base

prepend window_title
  = page.tag + ' // ' + __("tags") + ' // '

block content
  header.tag
    h2.title= _p("tag.header", page.posts.length, page.tag)

  ul.article-list
    - page.posts.each(function(article){

      li
        a(href=url_for(article.path))
          article
            time.meta( datetime=article.date.format() )
              include _partial/article_meta
              +date(article.date)
              //+category(article.categories)
            h2= article.title

    - })

