@font-face
    font-family "monofur"
    font-style normal
    font-weight 400
    src local("monof55"),url("/fnt/monofur.woff") format("woff")

@font-face
    font-family "Antic"
    font-style normal
    font-weight 400
    src local("Antic"),local("Antic-Regular"),url("/fnt/antic.woff") format("woff")
