#page-footer
    position fixed
    bottom 0
    width 96rem
    background #333
    transition bottom .5s ease-out

    &.hidden
        bottom -2em

    nav
        display block
        text-align center
        height 2em
        line-height 2em

        menu
            margin 0
            padding 0
            li
                display inline
                margin 0 .5em
