header#page-header
    background #000 url(/img/slow_shutter_light.png) center no-repeat scroll
    border-bottom thin solid #333
    height 12rem

h1#site-title, p#site-slogan
    position absolute
    opacity 0
    top 0
    left 0

nav#site-nav
    display inline-block
    text-align right
    width 10rem
    height 100%
    vertical-align top
    menu
        margin 0
        padding 1rem
        li
            display block
            line-height 1.2em

a#root-anchor
    display inline-block
    width calc(100% - 10rem)
    height 100%
