#content article.page
    blockquote
        padding 2rem 5rem
        background #323a40
        border .5rem dotted rgba(255,255,255,.1)
        color #fafafa

        &::first-letter
            display block
            float left
            width 8rem
            height 8rem
            margin 1rem -2rem -2rem 0
            border thick solid transparent
            font-size 8rem
            color rgba(255,255,255,.5)
