#content article.post
    padding 2rem 5rem
    background #323a40
    border .5rem dotted rgba(255,255,255,.1)
    color #fafafa

    h2
        font-size 3.6rem

    .disclaimer
        border thick solid rgba(255,255,255,.1)
        background rgba(255,255,255,.1)
        text-align center
        font-weight bold
        padding .5em .5rem
        h4, p
            margin 0
        h4
            font-size 1.2em
        p
            font-size 0.8em

    .content-column, .meta
        display inline-block
        vertical-align top

    .content-column
        width 54rem

    .meta
        width 28rem
        float right


#content nav.article-pagination
    display block
    height 1.5em
    &.top
        margin-top: 1.5rem

    a.prev
        float left

    a.next
        float right
        text-align right
