#content article.post
    padding 2rem 5rem
    background #323a40
    border .5rem dotted rgba(255,255,255,.1)
    color #fafafa

    h2
        font-size 3.6rem

    .disclaimer
        border thick solid rgba(255,255,255,.1)
        background rgba(255,255,255,.1)
        text-align center
        font-weight bold
        margin-bottom 1em
        padding .5em .5rem
        h4, p
            margin 0
        h4
            font-size 1.2em
        p
            font-size 0.8em

    .content-column, .meta
        display inline-block
        vertical-align top

    .content-column
        width 54rem
        :first-child
            margin-top 0

    .meta
        width 28rem
        float right
        font-size 1.6em
        font-weight bold
        line-height 0.8em
        color #aaa

        .date, .author, .categories, .tags
            &::before
                content attr(title)
                margin-right 0.333em

        ul
            list-style none
            margin 0
            padding 0
            li
                display inline



#content nav.article-pagination
    display block
    height 1.5em
    &.top
        margin-top: 1.5rem

    a.prev
        float left

    a.next
        float right
        text-align right
