#content article.post
    padding 2rem 5rem
    background #323a40
    border .5rem dotted rgba(255,255,255,.1)
    color #fafafa

    h2
        font-size 3.6rem

#content nav.article-pagination
    display block
    height 1.5em
    &.top
        margin-top: 1.5rem

    a.prev
        float left

    a.next
        float right
        text-align right
