@font-face
    font-family "monofur"
    font-style normal
    font-weight 400
    src local("monof55"),url("/fnt/monofur.woff") format("woff")

@font-face
    font-family "Antic"
    font-style normal
    font-weight 400
    src local("Antic"),local("Antic-Regular"),url("/fnt/antic.woff") format("woff")

html
    font-size 62.5%
    margin 0
    padding 0

body
    font 2rem/1.5em"Antic",Cambria,Georgia,serif
    width 96rem
    margin auto
    color #aaa
    background #222 url(/img/cartographer.png) top left repeat fixed

header#page-header
    background #000 url(/img/slow_shutter_light.png) center no-repeat scroll
    border-bottom thin solid #333
    height 12rem

    h1
        margin 0
        opacity 0
        height 2rem
        margin-bottom -4rem

a
    color #2fc2ef
    text-decoration none

figure pre
    font 2rem "monofur",monospace

nav#site-nav
    display block
    text-align right
    height 100%
    menu
        margin 0
        padding 1rem
        li
            display block
            line-height 1.2em

#content .article-list
    list-style none
    padding 0

    li
        display block
        margin-top 4rem
        border-bottom thin solid #333

        time, h2
            display inline-block

        time
            width 13rem
            margin-right 1.6rem
            font-size 1.8rem
            color #aaa
            text-align right
        h2
            font-size 2.2rem
            margin 0

#content menu.tags-list
    text-align right
    margin 1rem 0 2rem 0
    padding 0

    &::before 
        content "categories:"
        color #aaa
        font-weight bold
        vertical-align middle
        font-size 3.6rem

    li
        display inline-block
        margin 0 .3rem

#content article.post
    padding 2rem 5rem
    background #323a40
    border .5rem dotted rgba(255,255,255,.1)
    color #fafafa

    h2
        font-size 3.6rem

#content nav.article-pagination
    display block
    height 1.5em

    a.prev
        float left
        &::before
            content "←"
        &:hover::before
            content attr(title)" – "

    a.next
        float right
        &::after
            content "→"
        &:hover::after
            content " – "attr(title)

