mixin date(date)
  = date.format(config.date_format)

mixin listing(elements)
  - elements.each(function(el,i){
    li
      a(href="/"+(el.path))
        = el.name
      if(i < elements.length - 1)
        |, 
  - })
