if page.prev
  a(href="/"+(page.prev.path), title=__("prev_article"), class='prev')
    = "« " + page.prev.title
if page.next
  a(href="/"+(page.next.path), title=__("next_article"), class='next')
    = page.next.title + " »"
